QMainWindow {
	color: #F6F6F6;
	background-color: #6B6B6B;
}

QLabel {
	color: #F6F6F6;
	background-color: #7C7C7C;
	border: 1px solid #535EDF;
	border-radius: 15px;
}

QTextEdit{
	color: #F6F6F6;
	background-color: #7C7C7C;
	border: 1px solid #2C65A2;
	border-radius: 10px;
}

QPushButton {
	color: black;
	background-color: #4487CF;
	border: 1px solid #2C65A2;
	border-radius: 10px;
}

QPushButton:hover {
	color: black;
	background-color: #4C9CF2;
	border: 1px solid #2C65A2;
	border-radius: 10px;
}

QProgressBar {
	color: #F6F6F6;
	background-color: #7C7C7C;
	border: 1px solid #2C65A2;
	border-radius: 10px;
}