QMainWindow {
	background-color: rgb(25, 25, 25);
	color: rgb(130, 130, 130);

	border-radius: 5px;
}

QLineEdit{
	background-color: rgb(40, 40, 40);
	color: rgb(130, 130, 130);

	border-radius: 5px;
}

QTextEdit{
	background-color: rgb(40, 40, 40);
	color: rgb(130, 130, 130);

	border-radius: 5px;
}

QTextBrowser{
	background-color: rgb(40, 40, 40);
	color: rgb(130, 130, 130);

	border-radius: 5px;
}

QPushButton{
	background-color: rgb(40, 40, 40);
	color: rgb(130, 130, 130);

	border-radius: 5px;
}

QPushButton:pressed {
	background-color: rgb(130, 130, 130);
	color: rgb(130, 130, 130);

	border-radius: 5px;
}